# 라이브러리 임포트

In [12]:
!pip install pymysql
## 만약에 임포트 안되면 anaconda로

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------------------------- ------------ 30.7/44.8 kB 262.6 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 316.8 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
# 라이브러리 임포트 및 환경설정
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## MySql Server 연동을 위한 패키지
import pymysql

# 함수정의
- 함수정의 양식
1. 마크다운으로 함수의 기본 설명, 매개변수, 반환 값을 적는다.
2. 코드셀로 함수를 정의한다.

## 예시함수
- 예시로 우리조 조원의 이름을 아스키 코드로 출력하는 함수
- Parameter: list(str)
- Return: list(int)
- 사용 예시

In [11]:
def myteam_ascii(my_team_name_list: list):
    ascii_list=[]
    for name in my_team_name_list:
        each_name=[]
        for n in name:
            each_name.append(ord(n))
        ascii_list.append(each_name)
    
    return ascii_list
myteam_ascii(['ath','nje','kms','ssh'])

[[97, 116, 104], [110, 106, 101], [107, 109, 115], [115, 115, 104]]

# 데이터 쿼리 및 EDA

## MySQL Server 이용한 Data Loading

In [ ]:
# 연결 기본 정보 입력
# MySQL 서버 연결 정보
host='localhost'
database = 'gj'
user='root'
password='xoghks8514*'

# My SQL 서버 연결
conn = mysql.connector.connect(host=host, database=database, user=user, password=password)

# 커서 생성
cursor = conn.cursor()

# 쿼리실행: 내용물 가져오기
dong='화양동'
age=30
query=f'SELECT * FROM gj.2023년_월별_행정동별_10개관심집단수\nwhere 행정동명 like "{dong}"\nand 연령대 ={age}'
cursor.execute(query)

# 결과 가져오기
result = cursor.fetchall()

# 결과 출력
# print(result)
# for row in result:
#     print(row)

# 결과를 numpy array로 변환
arr= np.array([ value for value in result])
print(arr.shape)